/* navigation bar css*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
  --primary-white : #fff;
  --primary-orange : #f9ab00;
  --primary-dark : rgba(255,255,255,0);
  --primary-red : #ef4035;
  --primary-hover-red : #f33501;

}

body{
  font-family: "Roboto Condesed" sans-serif;
}

.logo{
  width:6.50rem ;
}

/* Menu Links*/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375;
  cursor: pointer;
}

nav{
  z-index: 2;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top:  0.1875rem solid var(--primary-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding : 0 !important;
  height: 6rem i !important;
}

@media(max-width: 768px){
  .navbar-brand{
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-orange);
}

/* header */

.header-wraper{
  overflow: hidden;
  position: relative;
  height: 90vh;
}

.header-bg{
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width:768px){
  .main-info h1{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/* typed text*/

.typed-text{
  font-size: 2rem;
  color: aqua;
}

/* Header main offer button*/

/* Particles js*/

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px){
  .particle-canvas{
    display: none;
  }
}


/* About page css */

.page-footer{
position: relative;
left: 0;
bottom: 0;
margin-top: 100px;
width: 100%;
}

.social_icon{
  background-color:black;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color:#8a3ab9;
}

.footer-copyright{
  background-color:beige;
}

/* hobby page css */

.carousel-item>img{
  max-height: 800px;
}

@media (max-width: 688px) {
  .carousel-item>img {
      max-height: 166px;
  }
}

.card>img{
  max-height: 150px;
}

.item:hover{
  filter: brightness(80%);
}
.item{
  transition: .5s ease-in-out;
}

.card{
  width: 18rem;
}

@media () {
  
}